b {
  /* used for event dates/times */
  margin-right: 3px;
}

.demo-app {
  font-size: 14px;
  margin: -3px auto 0;
}

.demo-app-sidebar {
  width: fit-content;
  line-height: 1.5;
  width: 100%;
  margin-top: -30px;
  font-size: 0.9rem;
}

.demo-app-sidebar-section {
  padding: 0.5rem 1rem;
}

.demo-app-main {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  max-width: 100%;
}

.fc {
  /* the calendar root */
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .fc {
    font-size: 0.5rem;
    padding: 4px 6px;
  }
}
.calendar-checkbox {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-left: -30px;
}
